<!DOCTYPE html>
<html>
<head>
    <title>{{ pageData.categoryInfo.title }}</title>
    <meta
</head>
<body>
    <h1>{{ displayData.title }}</h1>
    <navigation>{{ navigation|raw }}</navigation>
    <content>
    {{  displayData.body }}
    </content>
</body>
</html>
