<div class="auto-container">
			
			<div class="upper-box">
				<div class="clearfix">
					<div class="pull-left">
						<div class="logo">	
							<a href="index.html"><img src="{{ domainData.SITE_WEB }}/data/images/{{ domainData.SITE_DOMAIN }}/mini-web-logo-orange.webp" alt="" /></a>
						</div>
					</div>
					<div class="pull-right">
						<ul class="social-box">
							<li><a href="https://www.facebook.com/zdendascz" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
							{# <li><a href="#"><span class="fab fa-twitter"></span></a></li>
							<li><a href="#"><span class="fab fa-behance"></span></a></li>
							<li><a href="#"><span class="fab fa-youtube"></span></a></li> #}
							<li><a href="https://www.linkedin.com/in/zdendekklusak/" target="_blank"><span class="fab fa-linkedin"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			
        	<!-- Widgets Section -->
            <div class="widgets-section">
				<div class="circle-one"></div>
				<div class="circle-two"></div>
            	<div class="row clearfix">
                	
                    <!-- Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
						<div class="row clearfix">
						
                        	<!-- Footer Column -->
                            {# <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h5>Company</h5>
									<ul class="list-link">
										<li><a href="">About</a></li>
										<li><a href="">Leadership</a></li>
										<li><a href="">Blog</a></li>
										<li><a href="">Careers</a></li>
										<li><a href="">Partners</a></li>
										<li><a href="">Referral Program</a></li>
										<li><a href="">Press</a></li>
										<li><a href="">Legal</a></li>
									</ul>
								</div>
							</div> #}
							
							<!-- Footer Column -->
                            {# <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h5>Community</h5>
									<ul class="list-link">
										<li><a href="">Tutorials</a></li>
										<li><a href="">Meetups</a></li>
										<li><a href="">Q&A </a></li>
										<li><a href="">Write for DOnations</a></li>
										<li><a href="">Droplets for Demos</a></li>
										<li><a href="">Hatch Startup Program</a></li>
										<li><a href="">Shop Swag</a></li>
										<li><a href="">Research Program</a></li>
									</ul>
								</div>
							</div> #}
							
						</div>
					</div>
					
					<!-- Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
						<div class="row clearfix">
							<div class="footer-column col-lg-12 col-md-12 col-sm-12">

								<p>Projekt <strong>mini-web.cz</strong> je experimentální platforma pro provozování malých, jednoduchých a nenáročných webů. Je určena grafikům a FE zdatným lidem, kterým poskytuje zázemí v podobě fungující BE rozhraní. Nic víc, nic míň.</p>

							</div>
						
                        	<!-- Footer Column -->
                            {# <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h5>Solutions</h5>
									<ul class="list-link">
										<li><a href="">Web & Mobile Apps</a></li>
										<li><a href="">Website Hosting</a></li>
										<li><a href="">Big Data</a></li>
										<li><a href="">Managed Services</a></li>
										<li><a href="">Business Solutions</a></li>
										<li><a href="">Research Program</a></li>
										<li><a href="">Currents Research</a></li>
										<li><a href="">Open Source</a></li>
									</ul>
								</div>
							</div> #}
							
							<!-- Footer Column -->
                            {# <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h5>Solutions</h5>
									<ul class="list-link">
										<li><a href="">Get Support</a></li>
										<li><a href="">Trouble Signing In?</a></li>
										<li><a href="">Sales</a></li>
										<li><a href="">Report Abuse</a></li>
										<li><a href="">System Status</a></li>
									</ul><br>
									<a href="contact.html" class="theme-btn btn-style-four"><span class="txt"><i class="far fa-comments"></i>Get A Quote</span></a>
								</div>
							</div> #}
							
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="copyright-two">Copyright <a href="https://zdendas.cz">@ Zdeněk Klusák</a> - 2024 </div>
			
		</div>