<form action="{{ domainData.SITE_WEB }}/doLogin" method="post">
    <div>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Heslo:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Přihlásit se</button>
    </div>
</form>
<a href="{{ domainData.SITE_WEB }}/registration/">Registrace</a> / Zapomenuté heslo